@import './settings.scss';
@import "./typography.scss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: $font-text;
  font-size: $base-size;
  font-weight: 400;
  color: $main-gray-600;
  max-width: 1440px;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

.logo {
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  position: absolute;
  color: $logo-primary;
  &.header, &.footer {
    left: 47.4%;
  }
}

@media (max-width: 1440px) {
  .logo {
    &.header {
      left: 47.2%;
    }
  }
}

@media (max-width: 760px) {
  .logo {
    &.header {
      left: 1%;
      top: 2%;
    }
  }
}

