// main colors
$main-gray-700: #454E54;
$main-gray-600: #5D6970;
$main-blue-500: #505F98;
$main-blue-800: #111B47;

//logo color
$logo-primary: #37447E;

//font
$font-text: 'Roboto', sans-serif;

//other variables
$radius: 2px;
$base-size: 16px;
$transition: all 0.5s;