@import '../../../styles/settings.scss';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;

  .list {
    display: flex;
    flex: auto;
    max-width: 245px;
    align-items: center;
    justify-content: space-between;
    padding: 0;

    a {
      color: $main-blue-500;
      font-size: calc($base-size - 2px);
      line-height: 24px;
    }
  }
}

// hamburger

.hamburger {
  display: none;
  @include btn(90%, 0%);

  .iconLeft {
    @include icon(4px, 15px);
    left: 0px;

    &:before {
      @include icon-before(4px, 15px, -13px);
    }

    &:after {
      @include icon-after(4px, 15px, 13px);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .iconRight {
    @include icon(4px, 15px);
    left: 15px;

    &:before {
      @include icon-before(4px, 15px, -13px);
    }

    &:after {
      @include icon-after(4px, 15px, 13px);
    }
  }

  &.open {
    .iconLeft {
      transition-duration: $transition;
      background: transparent;

      &:before {
        transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
      }

      &:after {
        transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
      }
    }

    .iconRight {
      transition-duration: $transition;
      background: transparent;

      &:before {
        transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
      }

      &:after {
        transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}

// media

@media (max-width: 760px) {

  .root {
    flex-direction: column;

    div.navBtn {
      display: none;
      transform: translateY(-150%);
      animation: ani 1s forwards;
      &.open {
        display: block;
        @keyframes ani {
          0% {transform: translateY(-150%);}
          100% {transform: translateY(0);}
        }
      }
    }

    .hamburger {
      display: block;
    }

    .list {
      display: none;
      flex-direction: column;
      &.open {
        display: flex;
        margin-top: 20px;
        transform: translateY(-150%);
        animation: ani 1s forwards;
        
      @keyframes ani {
        0% {transform: translateY(-150%);}
        100% {transform: translateY(0);}
      }
      }
    }
  }
}