@import '../../../styles/settings.scss';

.root {
  margin-top: 120px;
  padding-bottom: 162px;
  background: no-repeat 85% top url('../../../../public/images/undrawMobLog_ikmv.png');
  .textBlock {
    max-width: 540px;
    min-height: 486px;
    padding-top: 51px;

    :nth-child(3) {
      margin-top: 10px;
    }

    p {
      line-height: 26px;
      color: $main-gray-600;
      margin-bottom: 0;
    }

    &Cards {
      display: flex;
      justify-content: space-between;
      margin-top: 80px;

      .card {
        padding-top: 50px;
        background: no-repeat left top url('../../../../public/images/undrawMobLog_cardIcon.png');
        max-width: 255px;

        .smallTitle {
          font-weight: 500;
          margin-top: 0px;
        }
        .smallParagraph {
          font-size: calc($base-size - 4px);
          line-height: 18px;
          margin-top: 7px;
        }
      }
    }
  }
}